<h1>Edit your restaurant</h1>

<div  *ngIf="alert"   class = "alert-success alert-dismissible fade show" role="alert">
  <strong>Success!</strong> You have successfully updated your  restaurant 
  <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form  [formGroup]="editResto" (ngSubmit)="[collection]" >
    <div class="form-group">
        <label for="exampleInputEmail1"> Name</label>
        <input type="email" class="form-control" placeholder="Enter Name " formControlName="name" >

      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email </label>
        <input type="email" class="form-control" placeholder="Enter Email " formControlName="email" >

      </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Address</label>
      <input type="email" class="form-control"  placeholder="Enter Address "formControlName="Address" >
       
    </div>
    <button type="submit" class="btn btn-primary" (click)="collection()">Update</button>
  </form>
